@import '../../node_modules/ceaser-easing/ceaser-easings.scss';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import 'palatte.scss';

*, *:after, *:before {
  position: relative;
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  color: $grey-color;
  background: $white-dark-color;
}

.heading {
  letter-spacing: 0.5rem;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.scroll-table {
  width: 102rem;
  margin: 1.5rem auto;
  font-size: 1.3rem;
  border: solid 0.1rem #212121;
  max-height: 50rem;
  overflow: auto;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);

  .scroll-table-table {
    width: 100%;
    border-collapse: collapse;

    thead, tbody {
      display: block;
      width: 100%;
    }

    thead {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      input {
        display: block;
        font-size: 1.2rem;
        width: 100%;
        padding: 0.5rem 0.5rem 0.3rem 0.5rem;
        margin: 0;
        border: none;
        color: #212121;
        outline: none;
      }
    }

    td, th {
      width: 25rem;
      max-width: 25rem;
      border: solid 0.1rem #212121;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 1rem;

      &:first-child {
        border-left: none;
      }
    }

    th {
      background-color: #212121;
      color: #F4F4F4;
      text-align: center;
    }

    td {
      border-bottom: none;
    }

    tr.empty {
      display: none;
    }

    .scroll-table-info {
      text-align: left;

      .scroll-table-clear-filter {
        color: #cdcdcd;
        float: right;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: #FFFFFF;
        }
      }
    }
  }
}

#contacts-table {
  tbody {

  }
}